<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <h1>Mi blog en RoR</h1>
</header>
<nav class="navbar">
  <div class="navbar_inner">
    <ul class="nav nav-pills">
      <li><%= link_to 'Inicio', root_path %></li>
      <li><%= link_to 'Nuevo post', posts_new_path %></li>
    </ul>
  </div>
  </ul>
</nav>
<br />
<%= yield %>
<footer>
  <p>Blog hecho con ruby on rails</p>
</footer>
</body>
</html>
